<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udaan Get Users</title>
</head>
<body>
    {{>header}}
    
    {{#if users}}
    <ul>
        {{#each users}}
        <li>{{this.email}}</li>
        {{/each}}
    {{/if}}
    </ul>
</body>
</html>