<ul>
    <li><a href="/">Home</a></li>
        <li><a href="add-user">Add User</a></li>
        <li><a href="get-users">Get Users</a></li>
        <li><a href="delete-user">Delete User</a></li>
        <li><a href="update-user">Update User</a></li>
    </ul>